# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# runX
golang/binaries/go
golang/binaries/go1.11.1.linux-amd64.tar.gz
golang/srcs/go-go1.10.4
golang/srcs/go1.10.4.tar.gz
golang/bootstraps/go1.4-bootstrap-20171003.tar.gz
go
go1.*
go-go1*

.DS_Store