<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.idevz.autocommit</string>
	<key>ProgramArguments</key>
	<array>
	<string>/bin/bash</string>
	<string>/Users/idevz/Documents/Parallels/runX/scripts/git/auto-commit.sh</string>
	</array>
	<key>UserName</key>
	<string>zhoujing2</string>
	<key>GroupName</key>
	<string>wheel</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>41</integer>
        <key>Hour</key>
        <integer>12</integer>
    </dict>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>~/tmp/autocommit.err</string>
	<key>StandardOutPath</key>
	<string>~/tmp/autocommit.log</string>
</dict>
</plist>